In [2]:
import pandas as pd 
import numpy  as np  
import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform
from scipy.cluster.hierarchy import linkage, dendrogram    
import sys 
sys.setrecursionlimit(10000)  #increasing maximum recursion from 999 to 10K

from scipy.cluster.hierarchy import dendrogram, fcluster, leaves_list
from scipy.spatial import distance
from fastcluster import linkage
from sklearn.metrics.pairwise import pairwise_distances  
from matplotlib import pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage , fcluster

np.set_printoptions(precision=5, suppress=True)  # suppress scientific float notation 

import scipy.stats
import math

In [147]:
fields=['new_euid','CLAIM_ID','cli_dx1','cli_dx2','cli_dx3','cli_dx4','cli_dx1_ccs','cli_dx2_ccs','cli_dx3_ccs','cli_dx4_ccs']
type = {'new_euid':str,'CLAIM_ID':str,'cli_dx1':str,'cli_dx2':str,'cli_dx3':str,'cli_dx4':str,'cli_dx1_ccs':float,'cli_dx2_ccs':float,'cli_dx3_ccs':float,'cli_dx4_ccs':float,}
multi_ccs=pd.read_csv("../Data/all_new.csv",sep=",",usecols=fields,dtype=type) #i
multi_ccs.head()

,new_euid,CLAIM_ID,cli_dx1,cli_dx2,cli_dx3,cli_dx4,cli_dx1_ccs,cli_dx2_ccs,cli_dx3_ccs,cli_dx4_ccs
0,0568848,140830BQR000,53081,NaN,NaN,NaN,138.0,NaN,NaN,NaN
1,0568848,141050B0JS00,60784,V252,NaN,NaN,166.0,176.0,NaN,NaN
2,0568848,1430000SKB00,V700,60784,79981,2724,256.0,166.0,259.0,53.0
3,0568848,1430000SKB00,V700,60784,79981,2724,256.0,166.0,259.0,53.0
4,0568848,143080BZCJ00,2572,60784,NaN,NaN,51.0,166.0,NaN,NaN

In [148]:
multi_ccs.head().to_csv("data_sample.csv")

In [3]:
fields=['new_euid','cli_dx1','cli_dx2','cli_dx3','cli_dx4','cli_dx1_ccs','cli_dx2_ccs','cli_dx3_ccs','cli_dx4_ccs']
type = {'new_euid':str,'cli_dx1':str,'cli_dx2':str,'cli_dx3':str,'cli_dx4':str,'cli_dx1_ccs':float,'cli_dx2_ccs':float,'cli_dx3_ccs':float,'cli_dx4_ccs':float,}
multi_ccs=pd.read_csv("../Data/all_new.csv",sep=",",usecols=fields,dtype=type) #i
multi_ccs.head()

,new_euid,cli_dx1,cli_dx2,cli_dx3,cli_dx4,cli_dx1_ccs,cli_dx2_ccs,cli_dx3_ccs,cli_dx4_ccs
0,0568848,53081,NaN,NaN,NaN,138.0,NaN,NaN,NaN
1,0568848,60784,V252,NaN,NaN,166.0,176.0,NaN,NaN
2,0568848,V700,60784,79981,2724,256.0,166.0,259.0,53.0
3,0568848,V700,60784,79981,2724,256.0,166.0,259.0,53.0
4,0568848,2572,60784,NaN,NaN,51.0,166.0,NaN,NaN

In [142]:
len(multi_ccs['new_euid'].unique())

134054

In [4]:
#CCS=49.0 Diabetic without complication.  
#CCS=50.0 Diabetic with complication.
multi_ccs_diabetic=multi_ccs[multi_ccs.cli_dx1_ccs.isin([50.0,49.0])| 
                     multi_ccs.cli_dx2_ccs.isin([50.0,49.0])|
                     multi_ccs.cli_dx3_ccs.isin([50.0,49.0])|
                     multi_ccs.cli_dx4_ccs.isin([50.0,49.0])
                    ]

In [10]:
multi_ccs_diabetic=multi_ccs_diabetic.ix[:,'new_euid':'cli_dx4']

In [12]:
len(multi_ccs_diabetic['new_euid'].unique()) #14845 unique() diabetic patients

14845

In [81]:
##reading Multi Level CCS file
ccs_level_1=pd.read_csv("../Data/multi_level_ccs_diag.csv",dtype={'ICD-9-CM-CODE':str})
print(ccs_level_1.shape)
ccs_level_1.head()

(15072, 3)

  ICD-9-CM-CODE  CCS-LVL-1                               Desc
0         01000          1  Infectious and parasitic diseases
1         01001          1  Infectious and parasitic diseases
2         01002          1  Infectious and parasitic diseases
3         01003          1  Infectious and parasitic diseases
4         01004          1  Infectious and parasitic diseases

In [82]:
ccs_level_1['ccs_code']="CCS"+ccs_level_1['CCS-LVL-1'].map(str) #Adding CCS codes

In [7]:
## stripping white spaces in ccs_level_mapping
ccs_level_1['ICD-9-CM-CODE']=ccs_level_1['ICD-9-CM-CODE'].map(lambda x:x.strip())

In [27]:
## Merging ccs_level_mapping with diabetic patients
x=pd.merge(ccs_level_1,multi_ccs_diabetic,left_on='ICD-9-CM-CODE',right_on='cli_dx1',how='right')
del x['ICD-9-CM-CODE']
x=x.rename(columns={'CCS-LVL-1':'ccs_dx1'})

## Merging ccs_level_mapping with diabetic patients
x=pd.merge(ccs_level_1,x,left_on='ICD-9-CM-CODE',right_on='cli_dx2',how='right')
del x['ICD-9-CM-CODE']
x=x.rename(columns={'CCS-LVL-1':'ccs_dx2'})  



## Merging ccs_level_mapping with diabetic patients
x=pd.merge(ccs_level_1,x,left_on='ICD-9-CM-CODE',right_on='cli_dx3',how='right')
del x['ICD-9-CM-CODE']
x=x.rename(columns={'CCS-LVL-1':'ccs_dx3'})  

## Merging ccs_level_mapping with diabetic patients
x=pd.merge(ccs_level_1,x,left_on='ICD-9-CM-CODE',right_on='cli_dx4',how='right')
del x['ICD-9-CM-CODE']
x=x.rename(columns={'CCS-LVL-1':'ccs_dx4'})

In [58]:
x.head()

   ccs_dx4  ccs_dx3  ccs_dx2  ccs_dx1 new_euid cli_dx1 cli_dx2 cli_dx3 cli_dx4
0      1.0      8.0      3.0        8  0002922     486   25000   49121    0389
1      1.0     13.0     12.0        3  0378589   25080    6868   73027    0389
2      1.0     17.0      3.0        3  0202285   25060     261   78559    0389
3      1.0     17.0      3.0        3  0202285   25060     261   78559    0389
4      1.0      1.0      7.0        3  0363900   25002    4149   04112    7907

In [59]:
x.isnull().sum() ##Right Mapping

ccs_dx4     67257
ccs_dx3     52032
ccs_dx2     37588
ccs_dx1         0
new_euid        0
cli_dx1         0
cli_dx2     37583
cli_dx3     52018
cli_dx4     67256
dtype: int64

In [61]:
print(x.shape)
print(multi_ccs_diabetic.shape)

(96238, 9)
(96238, 5)

# Making Binary Matrix

In [64]:
all_diabetic=x 
all_diabetic=all_diabetic.fillna(0)  
all_diabetic=all_diabetic.ix[:,'ccs_dx4':'new_euid']

In [65]:
cols=['ccs_dx4','ccs_dx3','ccs_dx2','ccs_dx1']
all_diabetic[cols] = all_diabetic[cols].astype(int)  
all_diabetic.head()

   ccs_dx4  ccs_dx3  ccs_dx2  ccs_dx1 new_euid
0        1        8        3        8  0002922
1        1       13       12        3  0378589
2        1       17        3        3  0202285
3        1       17        3        3  0202285
4        1        1        7        3  0363900

In [66]:
cols=all_diabetic.columns.tolist()
cols = cols[-1:] + cols[:-1] 
all_diabetic=all_diabetic[cols]

In [149]:
all_diabetic.head()
all_diabetic[:7].to_csv("all_diabetic_sample.csv")

In [68]:
print("unique diabetic patient") 
print(len(all_diabetic['new_euid'].unique())) #unique diabetic patient

unique diabetic patient
14845

In [69]:
ccs_level_1.head()

  ICD-9-CM-CODE  CCS-LVL-1 ccs_code
0         01000          1     CCS1
1         01001          1     CCS1
2         01002          1     CCS1
3         01003          1     CCS1
4         01004          1     CCS1

In [55]:
# Making Empty Binary Matrix 
# Making Empty Binary Matrix
cols=list(ccs_level_1['ccs_code'].unique())
cols.insert(0,'new_euid') 
check=pd.DataFrame(columns=cols,index=all_diabetic.index)
check.head()

,new_euid,CCS1,CCS2,CCS3,CCS4,CCS5,CCS6,CCS7,CCS8,CCS9,CCS10,CCS11,CCS12,CCS13,CCS14,CCS15,CCS16,CCS17,CCS18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
all_diabetic.head()

  new_euid  ccs_dx4  ccs_dx3  ccs_dx2  ccs_dx1
0  0002922        1        8        3        8
1  0378589        1       13       12        3
2  0202285        1       17        3        3
3  0202285        1       17        3        3
4  0363900        1        1        7        3

In [72]:
##Writing Code to fill up binary Matrix  
for index,row in all_diabetic.iterrows(): 
    if(row['ccs_dx1'] !=0): 
        col="CCS" +str(row['ccs_dx1'])
        check.loc[index][col]=1 
        check.loc[index]['new_euid']=row['new_euid']
    if(row['ccs_dx2'] !=0): 
        col="CCS" +str(row['ccs_dx2'])
        check.loc[index][col]=1 
        check.loc[index]['new_euid']=row['new_euid']
    if(row['ccs_dx3'] !=0): 
        col="CCS" +str(row['ccs_dx3']) 
        check.loc[index][col]=1 
        check.loc[index]['new_euid']=row['new_euid'] 
    if(row['ccs_dx4'] !=0): 
        col="CCS" +str(row['ccs_dx4'])
        check.loc[index][col]=1 
        check.loc[index]['new_euid']=row['new_euid']

In [73]:
print(all_diabetic.shape)
print(check.shape)

(96238, 5)
(96238, 19)

In [74]:
check=check.fillna(0)
check_new=check.groupby(check['new_euid']).sum()
print(check_new.shape)

(14845, 18)

In [75]:
check_new.head()

,CCS1,CCS2,CCS3,CCS4,CCS5,CCS6,CCS7,CCS8,CCS9,CCS10,CCS11,CCS12,CCS13,CCS14,CCS15,CCS16,CCS17,CCS18
new_euid,,,,,,,,,,,,,,,,,,
0000016,0,0,2,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0
0000033,0,1,8,0,0,2,6,0,0,1,0,0,0,0,0,0,1,0
0000069,0,0,5,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
0000080,0,0,9,0,1,1,3,0,0,4,0,0,0,0,0,0,0,0
0000104,0,0,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0

In [76]:
## changing all values greater >1 =1
def f1(x):
    if x>=1:
        return 1
    else:
        return 0

check_new=check_new.applymap(f1)
check_new.head()

,CCS1,CCS2,CCS3,CCS4,CCS5,CCS6,CCS7,CCS8,CCS9,CCS10,CCS11,CCS12,CCS13,CCS14,CCS15,CCS16,CCS17,CCS18
new_euid,,,,,,,,,,,,,,,,,,
0000016,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0
0000033,0,1,1,0,0,1,1,0,0,1,0,0,0,0,0,0,1,0
0000069,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
0000080,0,0,1,0,1,1,1,0,0,1,0,0,0,0,0,0,0,0
0000104,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [150]:
print(check_new.shape)  
check_new[:15].to_csv("binary_matrix_sample.csv")

(14845, 18)

# Making CCS_codes_Summary

In [90]:
### Making CCS Codes with description and population statistics
df=check_new
codes_stats=pd.DataFrame(df.sum())
codes_stats.reset_index(inplace=True) 
codes_stats=codes_stats.rename(columns={0:'Total_Patients'})

In [91]:
codes_stats.head()

  index  Total_Patients
0  CCS1            1342
1  CCS2             675
2  CCS3           14845
3  CCS4             619
4  CCS5            1820

In [85]:
ccs_codes=ccs_level_1[['CCS-LVL-1','Desc','ccs_code']].drop_duplicates()

In [88]:
ccs_codes.head()

      CCS-LVL-1                                               Desc ccs_code
0             1                  Infectious and parasitic diseases     CCS1
1226          2                                          Neoplasms     CCS2
2340          3  Endocrine; nutritional; and metabolic diseases...     CCS3
2785          4     Diseases of the blood and blood-forming organs     CCS4
2919          5                                     Mental Illness     CCS5

In [92]:
tmp1=ccs_codes[['ccs_code','Desc']]
codes_stats=pd.merge(tmp1,codes_stats,left_on='ccs_code',right_on='index')
del codes_stats['index'] 
codes_stats=codes_stats.sort(['Total_Patients'],ascending=False)
codes_stats['population_percentage']=(codes_stats['Total_Patients']*1.0/14845)*100.0
codes_stats.head()

C:\Users\IBM_ADMIN\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,ccs_code,Desc,Total_Patients,population_percentage
2,CCS3,Endocrine; nutritional; and metabolic diseases...,14845,100.000000
7,CCS7,Diseases of the circulatory system,8208,55.291344
17,CCS17,Symptoms; signs; and ill-defined conditions an...,6139,41.353991
6,CCS6,Diseases of the nervous system and sense organs,3698,24.910744
13,CCS13,Diseases of the musculoskeletal system and con...,2530,17.042775

In [145]:
codes_stats.to_csv("ccs_code_level_1_summary.csv")

# Deduplicating Binary Matrix (unique vectors)

In [93]:
df_new=pd.DataFrame(df.groupby(df.columns.tolist(),as_index=False).size())  
print(df_new.shape)
df_new.reset_index(inplace=True)  
df_new=df_new.rename(columns={0:'Total_Patients'})

(1620, 1)

In [94]:
df_new.sort(['Total_Patients'],ascending=False,inplace=True)
df_new.head()

C:\Users\IBM_ADMIN\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,CCS1,CCS2,CCS3,CCS4,CCS5,CCS6,CCS7,CCS8,CCS9,CCS10,CCS11,CCS12,CCS13,CCS14,CCS15,CCS16,CCS17,CCS18,Total_Patients
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1915
110,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1347
112,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,969
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,896
248,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,433

# Performing clustering on all diabetic patients

In [95]:
checkx=df_new
data_dist =pdist(checkx.ix[:,0:len(checkx.columns)-2],'jaccard') 
data_dist.shape
Z=linkage(data_dist)

In [96]:
## Plotting the clusters(Not working if large patients)

plt.title('Hierarchical Clustering Dendrogram (truncated)')
plt.xlabel('Patient Group')
plt.ylabel(' Jaccard distance')
dendrogram(
    Z,
    truncate_mode='lastp',  # show only the last p merged clusters
    p=200,  # show only the last p merged clusters
    show_leaf_counts=True,  # otherwise numbers in brackets are counts
    leaf_rotation=90.,
    leaf_font_size=12.,
    labels=list(check.index),
    show_contracted=True,  # to get a distribution impression in truncated branches
)
plt.show()

# Retrieving the clusters

In [116]:
max_d=0.1
clusters=fcluster(Z,max_d,criterion='distance')
clusters

clusters=pd.DataFrame(clusters)
clusters=clusters.rename(columns = {0:'clusters_id'})  

checkx_new=pd.concat([checkx.reset_index(),clusters], axis=1)  
cols = checkx_new.columns.tolist()  
cols = cols[-3:] + cols[:-3] 
checkx_new=checkx_new[cols]
checkx_new.set_index('index',inplace=True)  


community=checkx_new.groupby(['clusters_id']).Total_Patients.sum().sort_values(ascending=False)

In [104]:
community.sum()

14845L

# cluster_statistics & Z_score function

In [100]:
def z_score(ccs_code):
    
    p_1=cluster_stats[cluster_stats['ccs_code']==ccs_code]['Total_Patients']*1.0/community[cluster_stats['cluster_id'][0]]
    p_1=p_1.iloc[0]
    p_2=codes_stats[codes_stats['ccs_code']==ccs_code]['Total_Patients']*1.0/14845.0
    p_2=p_2.iloc[0]
    
    n_1 = community[cluster_stats['cluster_id'][0]]*1.0 #cluster Population
    n_2 = 14845.0  #Total Population 
  
    p =(n_1*p_1 + n_2*p_2)*1.0/(n_1 + n_2)
   
    num = (p_1-p_2)*1.0
    deno= math.sqrt(p*(1-p)*( (1.0/n_1) + (1.0/n_2) ))
    z=round((num*1.0/deno),2)  
    
    p_values = round((scipy.stats.norm.sf(abs(z))*2),4) #twosided P Tailed test
    
    return(z,p_values)

def clusterstatistic(cluster_id):
    #print(cluster_id)
    cluster=checkx_new[checkx_new['clusters_id']==cluster_id]
   
    cluster=cluster.loc[:,(cluster!=0).any(axis=0)]
    #cluster.head()

    ccs_codes=cluster.columns.tolist()
    ccs_codes=ccs_codes[2:]
    cluster_stats=pd.DataFrame(columns=['cluster_id','CCS_Code','Total_Patients'])
    for code in ccs_codes:
        patients=cluster[cluster[code]==1].Total_Patients.sum() 
        #print("code is",code,"patients is",patients)
        tmp=pd.DataFrame(index=range(1,2),columns=['cluster_id','CCS_Code','Total_Patients']) 
        tmp.ix[:,0]=cluster_id
        tmp.ix[:,1]=code
        tmp.ix[:,2]=patients 
        cluster_stats=cluster_stats.append(tmp) 

    #cluster_stats.head()

    #cluster_stats=cluster_stats[1:]
    cluster_stats.sort_values(by='Total_Patients',ascending=False,inplace=True)
    #cluster_stats.head()

    cluster_stats['%community']=(cluster_stats['Total_Patients']*1.0/cluster['Total_Patients'].sum())*100.0
    #cluster_stats['%diabetic_population']=(cluster_stats['Total_Patients']*1.0/14845.0)*100.0
    #cluster_stats.head()

    #tmp1.head()

    cluster_stats=pd.merge(tmp1,cluster_stats,left_on='ccs_code',right_on='CCS_Code')
    #cluster_stats.head()

    del cluster_stats['CCS_Code']
    cluster_stats.sort_values(by='Total_Patients',ascending=False,inplace=True)
    return cluster_stats

In [152]:
community[:20]

clusters_id
1      1984
12     1430
20     1020
14      958
7       442
28      382
156     315
55      231
53      207
50      195
51      176
60      158
11      153
52      145
120     138
148     138
2       134
36      121
49      121
135     116
Name: Total_Patients, dtype: int64

# Analyzing Each cluster

In [178]:
cluster_stats=clusterstatistic(120)
cluster_stats['%diabetic_population']=np.nan
cluster_stats['z_score']=np.nan
cluster_stats['p_value']=np.nan
for index,row in cluster_stats.iterrows():
    z,p=z_score(row['ccs_code'])
    cluster_stats.loc[index,'%diabetic_population']=codes_stats[codes_stats['ccs_code']==row['ccs_code']] .population_percentage.iloc[0] 
    cluster_stats.loc[index,'z_score']=z
    cluster_stats.loc[index,'p_value']=p

In [179]:
cluster_stats[:20]

,ccs_code,Desc,cluster_id,Total_Patients,%community,%diabetic_population,z_score,p_value
0,CCS3,Endocrine; nutritional; and metabolic diseases...,120.0,138,100,100.000000,NaN,NaN
1,CCS7,Diseases of the circulatory system,120.0,138,100,55.291344,10.52,0.0
2,CCS9,Diseases of the digestive system,120.0,138,100,12.132031,30.61,0.0
3,CCS17,Symptoms; signs; and ill-defined conditions an...,120.0,138,100,41.353991,13.90,0.0

In [180]:
cluster_stats[:20].to_csv("cluster120.csv")